In [1]:
import pandas as pd

#An empty list to hold individual dataframes from each file
data_list = []

#Columns that are extracted from each file
columns = ['route',
 'name',
 'type',
 'departure_time',
 'arrival_time',
 'duration',
 'price',
 'seats_available',
 'rating']

#List of CSV files to be read
files_list = [
            'JKSRTC_buses.csv',
            'KAAC_buses.csv',
            'West_bengal_buses.csv',
            'NORTH_BENGAL_buses.csv',
            'Bihar_buses.csv',
            'Chandigarh_buses.csv',
            'Assam_buses.csv',
            'Punjab_buses.csv',
            'south_Bengal_buses.csv',
            'Telangana_buses.csv',
            'Kerala_buses.csv',
            'Goa_buses.csv',
            'Andhra_Pradesh_buses.csv']

# Using loop through each file in the files_list
for file in files_list:
    df = pd.read_csv(file)
    df = df[columns]
    data_list.append(df)

#  Concatenate all dataframes in the list into a single dataframe  
file_data = pd.concat(data_list)
file_data = file_data.reset_index(drop = True)
file_data[['from_place', 'to_place']] = file_data['route'].str.split(' to ', expand=True)

In [2]:
df = pd.DataFrame(file_data)

# Save the DataFrame to a CSV file
df.to_csv("All_Bus_data_Collated.csv", index=False)

print("Data has been saved to All_Bus_data_Collated.csv")

Data has been saved to All_Bus_data_Collated.csv

In [3]:
data=pd.read_csv("All_Bus_data_Collated.csv")
data

,route,name,type,departure_time,arrival_time,duration,price,seats_available,rating,from_place,to_place
0,Jammu (j and k) to Srinagar,New Pal Travels,NON A/C Seater / Sleeper (2+2),21:15,07:15,10h 00m,679,36 Seats available,1.4,Jammu (j and k),Srinagar
1,Jammu (j and k) to Srinagar,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),16:30,02:30,10h 00m,INR 699,40 Seats available,1.0,Jammu (j and k),Srinagar
2,Jammu (j and k) to Srinagar,Harikesh Tour N Travels,NON A/C Seater / Sleeper (2+2),20:30,06:00,09h 30m,699,44 Seats available,1.0,Jammu (j and k),Srinagar
3,Jammu (j and k) to Srinagar,Jamna Travels-Jammu,Non AC Seater (2+2),21:30,08:00,10h 30m,508,32 Seats available,2.3,Jammu (j and k),Srinagar
4,Jammu (j and k) to Srinagar,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),17:15,03:15,10h 00m,INR 699,40 Seats available,1.0,Jammu (j and k),Srinagar
...,...,...,...,...,...,...,...,...,...,...,...
11077,Hyderabad to Anantapur (andhra pradesh),Tranzindia Travels,NON A/C Sleeper (2+1),19:15,04:30,09h 15m,INR 649,14 Seats available,2.2,Hyderabad,Anantapur (andhra pradesh)
11078,Hyderabad to Anantapur (andhra pradesh),BTR Travels,Volvo Multi Axle B11R AC Seater\Sleeper (2+1),22:15,04:10,05h 55m,INR 3000,35 Seats available,1.8,Hyderabad,Anantapur (andhra pradesh)
11079,Hyderabad to Anantapur (andhra pradesh),Sri Megha Travels,Non A/C Seater / Sleeper (2+1),22:00,04:00,06h 00m,INR 499,26 Seats available,1.9,Hyderabad,Anantapur (andhra pradesh)
11080,Hyderabad to Anantapur (andhra pradesh),Elegance Tours And Travels Pvt Ltd,Bharat Benz A/C Sleeper (2+1),20:00,04:00,08h 00m,1140,27 Seats available,1.8,Hyderabad,Anantapur (andhra pradesh)
11081,Hyderabad to Anantapur (andhra pradesh),Morning Star Travels,A/C Sleeper (2+1),21:15,04:15,07h 00m,INR 1390,28 Seats available,1.5,Hyderabad,Anantapur (andhra pradesh)

In [4]:
#function to remove alphabetic characters from a string column

def change_name(x):
    return x.str.replace(r'[A-Za-z]+', '', regex=True)
data['price']=data['price'].transform(change_name)

In [5]:
#Applying the 'change_name' function to the 'seats_available' column of the DataFrame
data['seats_available']=data['seats_available'].transform(change_name)
data

,route,name,type,departure_time,arrival_time,duration,price,seats_available,rating,from_place,to_place
0,Jammu (j and k) to Srinagar,New Pal Travels,NON A/C Seater / Sleeper (2+2),21:15,07:15,10h 00m,679,36,1.4,Jammu (j and k),Srinagar
1,Jammu (j and k) to Srinagar,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),16:30,02:30,10h 00m,699,40,1.0,Jammu (j and k),Srinagar
2,Jammu (j and k) to Srinagar,Harikesh Tour N Travels,NON A/C Seater / Sleeper (2+2),20:30,06:00,09h 30m,699,44,1.0,Jammu (j and k),Srinagar
3,Jammu (j and k) to Srinagar,Jamna Travels-Jammu,Non AC Seater (2+2),21:30,08:00,10h 30m,508,32,2.3,Jammu (j and k),Srinagar
4,Jammu (j and k) to Srinagar,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),17:15,03:15,10h 00m,699,40,1.0,Jammu (j and k),Srinagar
...,...,...,...,...,...,...,...,...,...,...,...
11077,Hyderabad to Anantapur (andhra pradesh),Tranzindia Travels,NON A/C Sleeper (2+1),19:15,04:30,09h 15m,649,14,2.2,Hyderabad,Anantapur (andhra pradesh)
11078,Hyderabad to Anantapur (andhra pradesh),BTR Travels,Volvo Multi Axle B11R AC Seater\Sleeper (2+1),22:15,04:10,05h 55m,3000,35,1.8,Hyderabad,Anantapur (andhra pradesh)
11079,Hyderabad to Anantapur (andhra pradesh),Sri Megha Travels,Non A/C Seater / Sleeper (2+1),22:00,04:00,06h 00m,499,26,1.9,Hyderabad,Anantapur (andhra pradesh)
11080,Hyderabad to Anantapur (andhra pradesh),Elegance Tours And Travels Pvt Ltd,Bharat Benz A/C Sleeper (2+1),20:00,04:00,08h 00m,1140,27,1.8,Hyderabad,Anantapur (andhra pradesh)
11081,Hyderabad to Anantapur (andhra pradesh),Morning Star Travels,A/C Sleeper (2+1),21:15,04:15,07h 00m,1390,28,1.5,Hyderabad,Anantapur (andhra pradesh)

In [6]:
#Converting the 'rating' column to numeric values, coercing errors to NaN
data['rating'] = pd.to_numeric(data['rating'], errors='coerce')
data['rating']=data['rating'].fillna(0)
data['rating']=data['rating'].astype('float64')
data

,route,name,type,departure_time,arrival_time,duration,price,seats_available,rating,from_place,to_place
0,Jammu (j and k) to Srinagar,New Pal Travels,NON A/C Seater / Sleeper (2+2),21:15,07:15,10h 00m,679,36,1.4,Jammu (j and k),Srinagar
1,Jammu (j and k) to Srinagar,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),16:30,02:30,10h 00m,699,40,1.0,Jammu (j and k),Srinagar
2,Jammu (j and k) to Srinagar,Harikesh Tour N Travels,NON A/C Seater / Sleeper (2+2),20:30,06:00,09h 30m,699,44,1.0,Jammu (j and k),Srinagar
3,Jammu (j and k) to Srinagar,Jamna Travels-Jammu,Non AC Seater (2+2),21:30,08:00,10h 30m,508,32,2.3,Jammu (j and k),Srinagar
4,Jammu (j and k) to Srinagar,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),17:15,03:15,10h 00m,699,40,1.0,Jammu (j and k),Srinagar
...,...,...,...,...,...,...,...,...,...,...,...
11077,Hyderabad to Anantapur (andhra pradesh),Tranzindia Travels,NON A/C Sleeper (2+1),19:15,04:30,09h 15m,649,14,2.2,Hyderabad,Anantapur (andhra pradesh)
11078,Hyderabad to Anantapur (andhra pradesh),BTR Travels,Volvo Multi Axle B11R AC Seater\Sleeper (2+1),22:15,04:10,05h 55m,3000,35,1.8,Hyderabad,Anantapur (andhra pradesh)
11079,Hyderabad to Anantapur (andhra pradesh),Sri Megha Travels,Non A/C Seater / Sleeper (2+1),22:00,04:00,06h 00m,499,26,1.9,Hyderabad,Anantapur (andhra pradesh)
11080,Hyderabad to Anantapur (andhra pradesh),Elegance Tours And Travels Pvt Ltd,Bharat Benz A/C Sleeper (2+1),20:00,04:00,08h 00m,1140,27,1.8,Hyderabad,Anantapur (andhra pradesh)
11081,Hyderabad to Anantapur (andhra pradesh),Morning Star Travels,A/C Sleeper (2+1),21:15,04:15,07h 00m,1390,28,1.5,Hyderabad,Anantapur (andhra pradesh)

In [7]:
#Converting the 'seats_available' column to numeric values, coercing errors to NaN
data['seats_available'] = pd.to_numeric(data['seats_available'], errors='coerce')
data['seats_available']=data['seats_available'].fillna(0)
data['seats_available']=data['seats_available'].astype('int64')
data

,route,name,type,departure_time,arrival_time,duration,price,seats_available,rating,from_place,to_place
0,Jammu (j and k) to Srinagar,New Pal Travels,NON A/C Seater / Sleeper (2+2),21:15,07:15,10h 00m,679,36,1.4,Jammu (j and k),Srinagar
1,Jammu (j and k) to Srinagar,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),16:30,02:30,10h 00m,699,40,1.0,Jammu (j and k),Srinagar
2,Jammu (j and k) to Srinagar,Harikesh Tour N Travels,NON A/C Seater / Sleeper (2+2),20:30,06:00,09h 30m,699,44,1.0,Jammu (j and k),Srinagar
3,Jammu (j and k) to Srinagar,Jamna Travels-Jammu,Non AC Seater (2+2),21:30,08:00,10h 30m,508,32,2.3,Jammu (j and k),Srinagar
4,Jammu (j and k) to Srinagar,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),17:15,03:15,10h 00m,699,40,1.0,Jammu (j and k),Srinagar
...,...,...,...,...,...,...,...,...,...,...,...
11077,Hyderabad to Anantapur (andhra pradesh),Tranzindia Travels,NON A/C Sleeper (2+1),19:15,04:30,09h 15m,649,14,2.2,Hyderabad,Anantapur (andhra pradesh)
11078,Hyderabad to Anantapur (andhra pradesh),BTR Travels,Volvo Multi Axle B11R AC Seater\Sleeper (2+1),22:15,04:10,05h 55m,3000,35,1.8,Hyderabad,Anantapur (andhra pradesh)
11079,Hyderabad to Anantapur (andhra pradesh),Sri Megha Travels,Non A/C Seater / Sleeper (2+1),22:00,04:00,06h 00m,499,26,1.9,Hyderabad,Anantapur (andhra pradesh)
11080,Hyderabad to Anantapur (andhra pradesh),Elegance Tours And Travels Pvt Ltd,Bharat Benz A/C Sleeper (2+1),20:00,04:00,08h 00m,1140,27,1.8,Hyderabad,Anantapur (andhra pradesh)
11081,Hyderabad to Anantapur (andhra pradesh),Morning Star Travels,A/C Sleeper (2+1),21:15,04:15,07h 00m,1390,28,1.5,Hyderabad,Anantapur (andhra pradesh)

In [8]:
#Converting the 'price' column to numeric values, coercing errors to NaN
data['price'] = pd.to_numeric(data['price'], errors='coerce')
data['price']=data['price'].fillna(0)
data['price']=data['price'].astype('int64')
data

,route,name,type,departure_time,arrival_time,duration,price,seats_available,rating,from_place,to_place
0,Jammu (j and k) to Srinagar,New Pal Travels,NON A/C Seater / Sleeper (2+2),21:15,07:15,10h 00m,679,36,1.4,Jammu (j and k),Srinagar
1,Jammu (j and k) to Srinagar,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),16:30,02:30,10h 00m,699,40,1.0,Jammu (j and k),Srinagar
2,Jammu (j and k) to Srinagar,Harikesh Tour N Travels,NON A/C Seater / Sleeper (2+2),20:30,06:00,09h 30m,699,44,1.0,Jammu (j and k),Srinagar
3,Jammu (j and k) to Srinagar,Jamna Travels-Jammu,Non AC Seater (2+2),21:30,08:00,10h 30m,508,32,2.3,Jammu (j and k),Srinagar
4,Jammu (j and k) to Srinagar,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),17:15,03:15,10h 00m,699,40,1.0,Jammu (j and k),Srinagar
...,...,...,...,...,...,...,...,...,...,...,...
11077,Hyderabad to Anantapur (andhra pradesh),Tranzindia Travels,NON A/C Sleeper (2+1),19:15,04:30,09h 15m,649,14,2.2,Hyderabad,Anantapur (andhra pradesh)
11078,Hyderabad to Anantapur (andhra pradesh),BTR Travels,Volvo Multi Axle B11R AC Seater\Sleeper (2+1),22:15,04:10,05h 55m,3000,35,1.8,Hyderabad,Anantapur (andhra pradesh)
11079,Hyderabad to Anantapur (andhra pradesh),Sri Megha Travels,Non A/C Seater / Sleeper (2+1),22:00,04:00,06h 00m,499,26,1.9,Hyderabad,Anantapur (andhra pradesh)
11080,Hyderabad to Anantapur (andhra pradesh),Elegance Tours And Travels Pvt Ltd,Bharat Benz A/C Sleeper (2+1),20:00,04:00,08h 00m,1140,27,1.8,Hyderabad,Anantapur (andhra pradesh)
11081,Hyderabad to Anantapur (andhra pradesh),Morning Star Travels,A/C Sleeper (2+1),21:15,04:15,07h 00m,1390,28,1.5,Hyderabad,Anantapur (andhra pradesh)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11082 entries, 0 to 11081
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   route            11082 non-null  object
 1   name             11081 non-null  object
 2   type             11082 non-null  object
 3   departure_time   11081 non-null  object
 4   arrival_time     11081 non-null  object
 5   duration         11081 non-null  object
 6   price            11082 non-null  int64
 7   seats_available  11082 non-null  int64
 8   rating           11082 non-null  float64
 9   from_place       11082 non-null  object
 10  to_place         11082 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 952.5+ KB

In [12]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\vijay\appdata\local\programs\python\python312\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\vijay\appdata\local\programs\python\python312\lib\site-packages (2.0.31)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\vijay\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\vijay\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)

In [10]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

host = "localhost"
port = "3306"
username = "root"
password = "9600578719"
database = "redbus"

engine_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
engine = create_engine(engine_string)

table_name = "bus_data"


df=pd.DataFrame(data)
df.to_sql(table_name, engine,index=False)
print("success")

ValueError: Table 'bus_data' already exists.

In [43]:
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv("All_Bus_data_Collection.csv", index=False)

print("Data has been saved to All_Bus_data_Collection.csv")

Data has been saved to All_Bus_data_Collection.csv

In [10]:
data

,route,name,type,departure_time,arrival_time,duration,price,seats_available,rating,from_place,to_place
0,Jammu (j and k) to Srinagar,New Pal Travels,NON A/C Seater / Sleeper (2+2),21:15,07:15,10h 00m,679,36,1.4,Jammu (j and k),Srinagar
1,Jammu (j and k) to Srinagar,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),16:30,02:30,10h 00m,699,40,1.0,Jammu (j and k),Srinagar
2,Jammu (j and k) to Srinagar,Harikesh Tour N Travels,NON A/C Seater / Sleeper (2+2),20:30,06:00,09h 30m,699,44,1.0,Jammu (j and k),Srinagar
3,Jammu (j and k) to Srinagar,Jamna Travels-Jammu,Non AC Seater (2+2),21:30,08:00,10h 30m,508,32,2.3,Jammu (j and k),Srinagar
4,Jammu (j and k) to Srinagar,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),17:15,03:15,10h 00m,699,40,1.0,Jammu (j and k),Srinagar
...,...,...,...,...,...,...,...,...,...,...,...
11077,Hyderabad to Anantapur (andhra pradesh),Tranzindia Travels,NON A/C Sleeper (2+1),19:15,04:30,09h 15m,649,14,2.2,Hyderabad,Anantapur (andhra pradesh)
11078,Hyderabad to Anantapur (andhra pradesh),BTR Travels,Volvo Multi Axle B11R AC Seater\Sleeper (2+1),22:15,04:10,05h 55m,3000,35,1.8,Hyderabad,Anantapur (andhra pradesh)
11079,Hyderabad to Anantapur (andhra pradesh),Sri Megha Travels,Non A/C Seater / Sleeper (2+1),22:00,04:00,06h 00m,499,26,1.9,Hyderabad,Anantapur (andhra pradesh)
11080,Hyderabad to Anantapur (andhra pradesh),Elegance Tours And Travels Pvt Ltd,Bharat Benz A/C Sleeper (2+1),20:00,04:00,08h 00m,1140,27,1.8,Hyderabad,Anantapur (andhra pradesh)
11081,Hyderabad to Anantapur (andhra pradesh),Morning Star Travels,A/C Sleeper (2+1),21:15,04:15,07h 00m,1390,28,1.5,Hyderabad,Anantapur (andhra pradesh)